@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html {
    height: 100%;
    position: relative;
}
body {
    height: 100%;
    position: relative;
}

h1{
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif;

}

.albums{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 150px;
    margin-left: 150px;

}
.artworks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 150px;
    margin-left: 150px;
}
.artwork {
    display: flex;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin:20px;
    perspective: 1000px;
}
.gallery{
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 900px;

}

.album{
    display: flex;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin:20px;
    perspective: 1000px;
}
.aw{
    width: 300px;
    height: 300px;
    object-fit:cover;
}
.awv1{
    width: 300px;
    height: 300px;
    object-fit:fill
}
.flip-album-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.album:hover .flip-album-inner {
    transform: rotateY(180deg);
}

.flip-album-front, .flip-album-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-album-back {
    color: white;
    transform: rotateY(180deg);
  }

.line {
    max-width: 100%;
}
.title {
    position: absolute;
	width: 300px;
	color: #675B5B;
	text-align: center;
	margin-top: -35px;
	font-size: 0.8em;
	background-color: white;
}
.landing{
    height: 100%;
    width: 100%;
    position: relative;
    align-items: initial;
}

#ifmy {
    width: 100%;
    position: absolute;
    object-fit: fill;
}
.art {
    width: 300px;
    height: 300px;
    object-fit:cover;
}
.artv1 {
    width: 300px;
    height: 300px;
    object-fit: fill;
}

